{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
    <img src="{{ album.album_logo }}" style="width: 250px;">

    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>

    {%  for song in album.song_set.all %}
        {{ song.song_title }}
        {% if song.favorite %}
            <img src="http://i.imgur.com/b9b13Rd.png" />
        {% endif %}
        <br>
    {% endfor %}
        
{% endblock %}











